/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

/* colors */
$dark-grey: #444;
$medium-grey: #666;
$blue: #5588ee;

/* fonts */
$large-font: 1.5rem;
$medium-font: 1rem;
$small-font: 0.8rem;

img {
	padding: 2%;
}

.container {
	padding-top: 1%;
} 

h1 {
	color: $dark-grey;
	padding-bottom: 1%;
}

h2 {
	font-size: 1.5rem;
	color: $medium-grey;
}

h1.subheader {
	font-size: $large-font;
}

.text-ref {
	font-size: 0.8rem;
}

.intro-area {
	padding-bottom: 2%;
	padding-top: 2%;
}

p.intro-explanation {
	color: $medium-grey;
	margin-bottom: 0.5rem;
	padding-left: 1%;
}

p.what-explanation {
	padding-left: 1%;
}

/*.panel {
	background: $blue;
}*/

