/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

$dark-grey: #444;
$medium-grey: #666;

img {
	padding: 2%;
}

.container {
	padding-top: 2%;
}

h1 {
	color: $dark-grey;
}

h2 {
	font-size: 1.5em;
	color: $medium-grey;
}