/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

/* colors */
$dark-grey: #444;
$medium-grey: #666;
$blue: #5588ee;
$tan: #fbf7e4;
/*$red: #fd3f2f;*/
$red: #f14835;
$dark-red: #b41d0c;
$white: #fff;
$off-white: #f7f7f7;

/* fonts */
$large-font: 1.5rem;
$medium-font: 1rem;
$small-font: 0.8rem;

/* general web page */
.container {
	background-color: $red;
}

a {
	color: #bbb;
}

a:hover {
	color: $white;
}

img {
	padding: 2%;
}

.container {
	padding-top: 1%;
	padding-bottom: 10%;
} 

h1.header {
	color: $white;
	text-shadow: -3px 3px 0px #c93225;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	margin-bottom: 0;
}

h1.subheader {
	color: $white;
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 2%;
	padding-left: 0.5%;
}

h2 {
	font-size: 1.5rem;
	color: $white;
}

h1.subheader {
	font-size: $large-font;
}

.text-ref {
	font-size: 0.8rem;
	padding-left: 1%;
}

.intro-area {
	padding-bottom: 2%;
	padding-top: 2%;
}

p.intro-explanation {
	color: $white;
	margin-bottom: 0.5rem;
	padding-left: 1%;
}

p.what-explanation {
	color: $off-white;
	padding-left: 1%;
	margin-bottom: 0.5%;
}

p.why-explanation {
	color: $off-white;
	padding-left: 1%;
}

label {
	color: $off-white;
}

.address-form {
	padding-left: 1%;
}

/* top bar */
.top-bar {
	background: $tan;
	font-family: 'Exo', sans-serif;
	font-weight: 300;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: $tan;
	color: $red;
}

.top-bar-section:hover li:not(.has-form) a:not(.button) {
	background: $red;
}

.top-bar .name h1 a {
	color: $red;
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.top-bar .toggle-topbar.menu-icon a {
	color: $red;
}
