/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 66, ../scss/screen.scss */
p {
  font-size: 16px;
  color: #444;
}

/* line 71, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #7a7a7a;
  font-weight: normal;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

/* line 78, ../scss/screen.scss */
h1 {
  font-size: 3.2em;
  color: white;
}

/* line 82, ../scss/screen.scss */
h2 {
  font-size: 2em;
}

/* line 85, ../scss/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 89, ../scss/screen.scss */
body {
  background: #fdf5dd url("../img/noise.png");
}

/* line 93, ../scss/screen.scss */
body > main {
  background: rgba(255, 255, 255, 0.95);
  width: 940px;
  box-shadow: 0px 5px 10px 0 #ddd;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 100%;
  border-radius: 4px 4px 0 0;
}

/* line 104, ../scss/screen.scss */
main > header {
  background-color: #b6d3d4;
  padding: 2%;
}
/* line 108, ../scss/screen.scss */
main > header h1 {
  font-size: 3em;
  text-align: center;
}

/* line 114, ../scss/screen.scss */
section.images {
  overflow: auto;
  border-top: 1px solid #b6d3d4;
  border-bottom: 1px solid #b6d3d4;
  padding: 4% 0;
}
/* line 120, ../scss/screen.scss */
section.images img {
  padding: 0 4%;
}
/* line 123, ../scss/screen.scss */
section.images img:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50.0%;
  clear: left;
  float: left;
  padding-right: 2%;
}
/* line 127, ../scss/screen.scss */
section.images img:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50.0%;
  clear: left;
  float: left;
  clear: right;
  float: right;
  padding-left: 2%;
}

/* line 133, ../scss/screen.scss */
section.explanation {
  padding: 2% 4%;
}
/* line 135, ../scss/screen.scss */
section.explanation a {
  font-weight: bold;
}

/* line 140, ../scss/screen.scss */
section.find {
  overflow: hidden;
  border-top: 1px solid #b6d3d4;
  padding: 2% 4%;
}

/* line 146, ../scss/screen.scss */
.find form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  clear: left;
  float: left;
}
/* line 149, ../scss/screen.scss */
.find form label {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 154, ../scss/screen.scss */
.find form .input {
  position: relative;
}
/* line 158, ../scss/screen.scss */
.find form .fa-map-marker {
  position: absolute;
  top: 10px;
  left: 7px;
  z-index: 1;
  color: #97c2c4;
}
/* line 166, ../scss/screen.scss */
.find form input, .find form #address_lookup {
  padding-left: 20px;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}
/* line 174, ../scss/screen.scss */
.find form .twitter-typeahead {
  width: 100%;
}
/* line 178, ../scss/screen.scss */
.find form .tt-dropdown-menu {
  border-radius: 0 0 4px 4px;
  background: #FFF;
  box-shadow: 0px 6px 6px 0 #989898;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #DDD;
}
/* line 187, ../scss/screen.scss */
.find form .tt-dataset-states {
  padding: 10px;
  padding-left: 20px;
}

/* line 193, ../scss/screen.scss */
.find .map {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  clear: left;
  float: left;
  clear: right;
  float: right;
  padding: 0 0 0 2%;
}
/* line 198, ../scss/screen.scss */
.find .map #gmap_canvas {
  width: 100%;
  height: 100%;
  height: 320px;
}

/* line 205, ../scss/screen.scss */
.find dl {
  margin-top: 10px;
  border: 1px solid #ddd;
  min-height: 15.2em;
  background-color: #EEE;
  padding: 20px;
  border-radius: 0 0 7px 7px;
}

/* line 214, ../scss/screen.scss */
main > footer {
  padding: 2% 4%;
  min-height: 8em;
  background: #e2f8f8;
}
